<h1>Listing game_reports</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Radius</th>
      <th>Message</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_reports.each do |game_report| %>
      <tr>
        <td><%= game_report.location %></td>
        <td><%= game_report.radius %></td>
        <td><%= game_report.message %></td>
        <td><%= game_report.name %></td>
        <td><%= game_report.email %></td>
        <td><%= link_to 'Show', game_report %></td>
        <td><%= link_to 'Edit', edit_game_report_path(game_report) %></td>
        <td><%= link_to 'Destroy', game_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game report', new_game_report_path %>
