<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :location1 %><br>
    <%= f.number_field :location1 %>
  </div>
  <div class="field">
    <%= f.label :location2 %><br>
    <%= f.number_field :location2 %>
  </div>
  <div class="field">
    <%= f.label :location3 %><br>
    <%= f.number_field :location3 %>
  </div>
  <div class="field">
    <%= f.label :location4 %><br>
    <%= f.number_field :location4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
