<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <article class="location-card">
    <h2><%= f.label :name %> <%= f.text_field :name %></h2>
    <p><%= f.label :latitude %> <%= f.text_field :latitude %>, <%= f.label :longitude %> <%= f.text_field :longitude %></p>
    <p><%= f.label :clue_flickr %> <%= f.text_field :clue_flickr %></p>
    <p><%= f.label :clue_wikipedia_link %> <%= f.text_field :clue_wikipedia_link %></p>
    <p><%= f.label :clue_wikipedia_text %> <%= f.text_area :clue_wikipedia_text %></p>
    <p><%= f.submit %></p>
  </article>
<% end %>

