<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <article class="location-card location-new">
    <h2>Search</h2>
    <p>Include the location in your search for a more precise result.</p>
    <p>
      <input id="query_field" placeholder="Search" type="text"></input>
      <button id="getdata" type="button">Search</button>
      <%= image_tag 'powered-by-google.png' %>
    </p>
    <p>
      Find places near:
      <input id="query_near_field" placeholder="Search" type="text"></input>
      <button id="getdata-near" type="button">Search</button>
    </p>
    <ul class="location-near-list"></ul>
  </article>
  <div class="location-hidden">
    <article class="location-card location-new">
      <h2>Name</h2>
      <p><%= f.text_field :name %></p>
    </article>
    <article class="location-card location-new">
      <h2>Google Maps</h2>
      <p><%= f.text_field :latitude, :hidden => true %><%= f.text_field :longitude, :hidden => true %></p>
      <p><img class="location-map"></p>
      <p>Map incorrect? Include location information in your search for a more precise result.</p>
    </article>
    <article class="location-card location-new">
      <h2>Flickr</h2>
      <p><%= f.text_field :clue_flickr, :hidden => true %></p>
      <p><span class="flickr_photos"></span></p>
      <p><a href="#" class="flickr_more">Load more...</a></p>
      <p class="custom_search_flickr_info">Results irrelevant? Try a <a href="#" id="custom_search_flickr">custom search</a>.</p>
      <p class="custom_search_flickr">
        <input id="query_flickr_field" placeholder="Search" type="text"></input>
        <button id="getdata_flickr" type="button">Search</button>
      </p>
    </article>
    <article class="location-card location-new">
      <h2>Wikipedia</h2>
      <p><ul class="wiki_articles"></ul></p>
      <p class="custom_search_wiki_info">Results irrelevant? Try a <a href="#" id="custom_search_wiki">custom search</a>.</p>
      <p class="custom_search_wiki">
        <input id="query_wiki_field" placeholder="Search" type="text"></input>
        <button id="getdata_wiki" type="button">Search</button>
      </p>
      <p><%= f.text_field :clue_wikipedia_link, :hidden => true %></p>
      <p><%= f.label :clue_wikipedia_text %> <%= f.text_area :clue_wikipedia_text %></p>
    </article>

    <article class="location-card">
      <p>Preview</p>
      <h2 id="location-preview-name">Name</h2>
      <p><img src="http://maps.googleapis.com/maps/api/staticmap?center=0,0&zoom=16&size=200x200&markers=0,0" id="location-preview-map"></p>
      <p><img src="" id="location-preview-flickr-pic" class="flickr-show"></p>
      <p id="location-preview-wiki-link">Wiki link</p>
      <p id="location-preview-wiki-text">Wiki text</p>
    </article>
    <p><%= f.submit %></p>
  </div>
<% end %>



<div id="location-map-canvas" class="location-map-canvas"></div>
