<h1>Listing locations</h1>

<p><%= link_to 'New Location', new_location_path %></p>

<%= form_for locations_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= will_paginate @locations %>

<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location %></li>
  <% end %>
</ul>
