<p id="notice"><%= notice %></p>

<p><%= link_to 'Back', locations_path %></p>

<article class="location-card">
  <h2><%= @location.name %></h2>
  <p><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @location.latitude %>,<%= @location.longitude %>&zoom=16&size=200x200&markers=<%= @location.latitude %>,<%= @location.longitude %>"></p>
  <p><%= @location.latitude %>, <%= @location.longitude %></p>
  <p><img src="<%= @location_flickr_url %>" class="flickr-show"></p>
  <p><%= @location.clue_flickr %></p>
  <p><%= @location.clue_wikipedia_link %></p>
  <p><%= @location.clue_wikipedia_text %></p>
  <p><%= link_to 'Edit', edit_location_path(@location) %></p>
  <p><% if @game %>Warning - belongs to games <% end %><%= link_to 'Destroy', @location, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</article>
